{% extends "base.html" %}
{% load static %}


{% block title %}
   All My Posts
{% endblock %}

{% block css_files %}  

<link rel="stylesheet" href = "{% static "new_blog/post.css" %}"/>
<link rel="stylesheet" href = "{% static "new_blog/posts_page.css" %}"/>
{% endblock %}

{% block content %}
<section id="my-posts"> 
    <h2>My Works </h2>
        <ul>
            {%for post in posts%}
                {% include "new_blog/includes/post_detail.html" %}
            {%endfor%}
        </ul>
    
{% endblock %}
