{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} </title>
    <link rel="stylesheet" href = "{% static "app.css" %}">
    {% block css_files %}  {% endblock %}
  </head>
  <body>
    <header id="main-navigation">
      <h1><a href="{% url "home-page" %}">Personal Blog </a> </h1>
          <nav>
            <ul>
             <li> <a href=" {% url "post-page" %}"> My Projects</a></li> 
             <li>  <a href=" {% url "about-me-page" %}"> About Me </a></li>
             <li>  <a href=" {% url "about-me-page" %}"> Resume </a></li> 
             <li>  <a href=" {% url "about-me-page" %}"> Contact </a></li> 
              <ul>
              </nav>
    </header>
    {% block content%}
    {% endblock %}
   
  </body>
</html>
